/* style for Dashboard */
.container {
    text-align: center;
}

.container p {
    margin-top: 20px;
    font-weight: bold;
    display: flex;
    margin-left: 7vw;
    font-size: 20px;
}

.inputBoxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputBoxes>div {
    display: inline-block;
}

.inputSelect,
.inputFilter {
    margin-top: 5px;
}

.inputFilter span {
    display: block;
    margin-bottom: 1px;
}

.dates {
    width: 30vw;
    padding: 4px;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    font-size: 1.6vw;
    height: 7vh;
}

.dates input {

    border: none;
    background-color: transparent;
}

.inputSelect select {
    width: 40vw;
    height: 8vh;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    color: #333;
    cursor: pointer;
    margin-top: 20px;
    padding: 2px;
    align-items: center;
    font-size: 2vw;

}

.inputSelect select:focus {
    outline: none;
    border-color: #007bff;
}

@media (min-width: 740px) {
    .inputBoxes {
        flex-direction: row;
        gap: 2vh;
    }

    .container p {
        margin: 20px, auto;
    }
}

@media screen and (max-width: 740px) {

    .dates,
    .inputSelect select {
        width: 50vw;
        font-size: 2vw;
    }
}


@media screen and (max-width: 320px) {

    .dates,
    .inputSelect select {
        width: 100vw;
        font-size: 2.2vw;
        margin: auto;
    }
}




.chartContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.chart {
    flex: 1;
    min-width: 350px;
}

@media (max-width: 768px) {
    .chart {
        min-width: 45%;
    }
}

@media (max-width: 576px) {
    .chart {
        min-width: 60%;
    }
}




/* style for statisticalCard */

.statisticalCard {
    display: flex;
    margin-left: 15vw;
    margin-right: 15vw;
    justify-content: space-evenly;
    gap: 5vw;
    height: auto;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card {
    flex: 1;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    border: none;
    margin-bottom: 10px;
}

.name {
    width: 60%;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    height: 8vh;
    display: flex;
    justify-content: center;
    font-size: 1.5vw;
    align-items: center;
    font-weight: bolder;
}

.value {
    background-color: white;
    border-radius: 0 5px 5px 0;
    width: 40%;
    text-align: center;
    height: 9vh;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1.8vw;
    font-weight: bolder;
}

@media screen and (max-width: 786px) {

    .statisticalCard {
        gap: 1vw;
        ;
    }
}


@media screen and (max-width: 460px) {

    .statisticalCard {
        display: flex;
        flex-direction: column;
        gap: 0vw;
    }

    .card {
        width: 80vw;
        margin: auto;
    }

    .name,
    .value {
        font-size: 3vw;
    }

    .name {
        width: 60%;

    }

    .value {
        width: 40%;
    }
}


@media screen and (max-width: 320px) {

    .dates,
    .inputSelect select {
        width: 100vw;
    }
}



/* style for line chart */

.linechartdata {
    font-size: 1.5vw;
}

.linechartdata p {
    font-size: 2vw;
    font-weight: bolder;
    margin-left: 1vw;
}


@media screen and (max-width: 320px) {

    .linechartdata {
        font-size: 2vw;
    }
}




/* style for pie chart */

.piachartdata {
    font-size: 1.5vw;
}


.piachartdata p {
    font-size: 2vw;
    font-weight: bolder;
    margin-left: 10vw;
}


@media screen and (max-width: 320px) {

    .piachartdata {
        font-size: 2vw;
    }
}